* {
    margin: 0;
    padding: 0;
    cursor: default
}

#navbar {
    position: fixed;
    text-align: center;
    display: inline-block;
    width: 100%;
    height: 40px;
    background-color: #1e1f1f;
    min-width: 1024px;
    padding-top: 30px;
}

.navbar-item {
    text-transform: uppercase;
    transition: 0.3s;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    display: inline-block;
    color: white;
    font-size: large;
    border-bottom: none;
}

.navbar-item:hover {
    transition: width 0.3s ease 0.3s, left 0.3s ease 0.3s;
    border-bottom: 1px #1f87f0 solid;
    color: #1f87f0;
    cursor: default;
}